<section class="innerContain" ng-controller="AboutController">    
	<div class="container">
		<h1>{{heading}}</h1>
		<p>Alapan Abrittee Sangstha was established in 1995 with sole purpose for Recitation. We are a family with people of different ages, vocations and ideologies. The sole thing that connects us to one another is our deep love for poetry and recitation.</p>
	<p dir="ltr">Our one and only aim is to not only teach people the different skills of recitation but also to spread joy and harmony while reciting it to our audience. We were only three members big which now has significantly grown to almost 100 of all ages.We are dedicated to our passion for poetry and so we have regular classes to train ourselves.</p>
	<p dir="ltr"><span>Regular classes are held in Knachrapara, Halisohor, Dumdum and Lake-garden.</span></p>
	<p dir="ltr">From 1995 one after another successful years have passed by Alapon and we continue to grow in numbers as well. We are appreciated and applauded by the experts every year for our passionated performances.</p>
	<p>Our most special performances are "Amader ei Bosundhora", "AAm antir vnepu", "Dhrupod er bodhodoy". Inspite of that every year students of Alapan come with new productions and perform all over West Bengal.</p>
	<p>Two CD's were successfully launched by the students of Alapan. These are "Amader ei basindhora" and "Amader Alapan"</p></div>
</section>