<section class="welcomeSec">
	<!-- <section-image imageurl="url1" imagealt="url1"></section-image> --> 
	<section-block heading ="Welcome to Alapan family!" content="Alapan Abrittee Sangstha was established in 1995"></section-block>
</section>
<section class="sirSec">
	<!-- <section-image imageurl="url2" imagealt="url2"></section-image> --> 
	<section-block style="sirSec" heading ="Malay Podder" content="Malay Podder is not only the founder of Alapan he is the head of the Alapan family"></section-block>
</section>
<section class="studentsSec">
	<section-block heading ="Our well wisher" content="So many renown artists enlighten Alapan Abrittee Sangstha by their performance. Here are some clicks of them."></section-block>
	<section class="studentsSec">
		<div image-carousel="{items :8,itemsMobile: [479,2],itemsTablet: [768,4],		itemsDesktopSmall: [979,6],itemsDesktop: [1199,8],navigation:true,		pagination:false,navigationText : ['<','>']}"></div>
	</section>
</section>
<section class="viewerSec">
	<section-block heading ="Special Thanks" content="Some of our well wishers who always help us to grow by their knowledge experiences and advice."></section-block>
	<ul class="viewerList">
		<li ng-repeat="viewer in ['Bablu Sarkar ','Rajnarayan Bhattacharya','Ramchandra pal','Dhrubo Bagchi']">						
			<div class="viewerDetail">
				<!-- <div class="viewerImage">
					<img src="{{viewer}}" alt="{{viewer}}">	
				</div> -->
				<div class="viewerDesc">
					<p>{{viewer}} <span>{{viewer}}</span></p>
				</div>
			</div>
		</li>		
	</ul>
</section>

<section class="recentSec">
	<div class="container">
		<div class="recentLeft">
			<h2>Recent Programmes</h2>
			<ul class="newsBlock">  
				<recent-event ng-repeat="Program in ['Shishir manch ','Bangla Academy','Rabindra Sadan','ICCR']" date="15" month="Dec" year="2017" title="21st Annual day celebration at {{Program}}" short-description="One group performance of the artists of Alapon."></recent-event>
			</ul>
		</div>
		<div class="recentRight">
			<div class="cdRelease">
				<div class="cdReleaseRightHd">
					<h2>Released CDs</h2>
					<a class="more" href="#">more</a>
					<!-- <released-cd image-url="Hello" title="Hello kamon acho" short-description="Hello kamon achoo is dedicated to our loved ones"></released-cd> -->
				</div>
			</div>
			<div class="recentVideo">
				<div class="cdReleaseRightHd">
					<h2>Video</h2>
					<a class="more" href="#">more</a>
				</div>
				<ul class="videoList">
					<recent-video video-link="https://www.youtube.com/embed/c-CrNLCsZro" description="Kothopokothon"></recent-video>
				</ul>
			</div>
		</div>
	</div>
</section><!-- <iframe width="255" height="166" src="https://www.youtube.com/embed/c-CrNLCsZro" frameborder="0" allowfullscreen></iframe> -->