<section class="innerContain" ng-controller="EventController">
	<div class="container">
	<h1>{{heading}}</h1>
	<ul class="newsList">
	  	<li>
			<div class="newsImage">
				<div class="newsImageIn">
				    	      	
				</div>
			</div>
			<div class="newsCon">
				<h3>Solo and Group performane of Alapan</h3>
		    <p class="dtMnth">21 Dec<span>2017</span></p>
		    <p class="more">Solo and group performance will be held on Bengal Academy on 21st December,2017</p>
			</div>
		</li>
	</ul>
	</div>
</section>